main {
  width: 60%;
  background-color: $White;
  border-radius: 1.5rem;
  padding: 2rem;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}


.column {
  width: 45%;
  height: 100%;
  border-radius: 1rem;
}


input {
  box-sizing: border-box;
  width: 100%;
  text-align: right;
  border: none;
  background-color: $input;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Space Mono';
  color: $cyanInActive;
  padding: .8rem;
  border-radius: .5rem;
}


.left-inner-icon{
  position: relative;

  img {
    position: absolute;
    left: 0;
    top: 0;
    padding: 1.1em;
    height: 1.5rem;
    pointer-events: none;
  }
}

#tip {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: .5rem;
}
.tip.custom_tip {
  background-color: $input;
  color: $title;

  &:hover {
    color: white;
  }
}

.tip {
  text-align: center;
  align-self: center;
  background-color: $cyanInActive;
  border-radius: .3rem;
  color: white;
  padding: .5rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;

  &:hover {
    background-color: $cyanActive;
    cursor: pointer;
  }
}

.tip.active {
  background-color: $cyanActive;
  color: white;
}

.active {
  background-color: $cyanActive;
}

.bg {
  background-color: $cyanInActive;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.total:not(:last-child) {
  padding-top: 2rem;
}

.total:not(:first-child) {
  padding-bottom: 2rem;
}

.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5% ;

  p {
    padding: 0;
    color: white;
  }


  small {
    color: $Darkgrayishcyan;
  }

  h1 {
    color: $cyanActive;
    margin: 0;
  }

  input {
    background-color: $cyanInActive;
    color: $cyanActive;
    font-size: 3rem;
    width: 65%;
    // border: 1px solid;
  }
}

#reset {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: $title;
  background-color: $cyanActive;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-radius: .7rem;

  &:hover {
    color: white;
    cursor: pointer;
  }
}

@media (max-width: 1230px) {
  .title {
    margin-top: 2rem;
    margin-bottom: 4rem!important;
  }
  .total {
    flex-direction: column;
    input {
      width: 80%;
      text-align: center;
    }
  }
}

@media (max-width: 1000px) {
  .container {
    width: 100%!important;
  }
  main {
    width: 80%;
  }
  .wrapper {
    flex-direction: column;
  }
  .column {
    width: 90%;
  }
  .total {
    input {
      font-size: 1.5rem;
    }
  }
}
